################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sky Editor Base/obj
/Sky Editor Base/bin
/DeSmuMe Integration/obj
/DeSmuMe Integration/bin
/Debug Console Applications/Wan Animation Tester/obj
/Debug Console Applications/Wan Animation Tester/bin
/ROM Editor/obj
/ROM Editor/bin
/Sky Editor Plugin/obj
/Sky Editor Plugin/bin
/Sky Editor/obj
/Sky Editor/bin
/Sky Editor.v12.suo
/3DS Tools/bin/Release
/3DS Tools/obj
/Checksum Bruteforcer/bin
/Checksum Bruteforcer/obj
*.suo
/packages
