<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ID3" version="0.3.0" targetFramework="net46" />
  <package id="ID3.Files" version="0.3.0" targetFramework="net46" />
  <package id="Orthogonal.NTagLite" version="1.0.5.0" targetFramework="net46" />
  <package id="TagLib.Portable" version="1.0.4" targetFramework="net46" />
</packages>